html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
body {line-height: 1.2;}
ol {padding-left: 1.4em;list-style: decimal;}
ul {padding-left: 1.4em;list-style: square;}
table {border-collapse: collapse;border-spacing: 0;}
/* Default ---------------------------------------------------------------------------------------------------------------*/
body, html {height: 100%;}
body {
    font-family: 'Montserrat', sans-serif;}
.container {width: 90%;margin: 0 auto; max-width: 1300px;}
a {text-decoration: none;}
* {&:focus, &:active {outline: none;}}
button {border: none; padding: 0;background: transparent;cursor: pointer;}
input {box-shadow: none; display: inline-block; border: none;}
textarea {resize: none;}
ul {list-style-type: none;padding: 0;}
img {user-select: none;}

/* Variables ------------------------------------------------------------------------------------------------------------*/
$greyPurpleLight: #543D52;
$crimson: #D6065D;
$lightBlue: #9DC1E4;
$greyText: #341F1F;
$movingTransition: all 0.2s linear;
$hoverTransition: all 0.12s linear;

$maxWidth: 1280;

@mixin adaptive-font($pcSize, $mobileSize) {
    $addSize: $pcSize - $mobileSize;;
    $addMobileSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobileSize + px} + #{$addMobileSize} * ((100vw - 320px) / #{$maxWidth}));}
    @media (min-width: 767px) {
        font-size: calc(#{$mobileSize + px} + #{$addSize} * (100vw / #{$maxWidth}));}}


/*---------------------------------------------------------------------------------------------------------------*/
// Header
.navigation {
    background: $greyPurpleLight;
    padding: 10px 0;

    .container {
        align-items: center;
        display: flex}}

img[alt="logo"] {
    height: 55px;}

@media (max-width: 700px) {
    img[alt="logo"] {
        height: 45px;}}

@media (max-width: 550px) {
    img[alt="logo"] {
        height: 35px;}}

span.nav-phone {
    flex-grow: 1;
    color: $lightBlue;
    display: inline-block;
    text-align: right;
    @include adaptive-font(22, 13);
    font-weight: 600;}

section.banner {
    padding: 0 0 120px 0;
    position: relative;

    img[alt="banner-bg"] {
        z-index: -2;
        position: absolute;
        bottom: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;}}

section.banner .container {
    position: relative;
    display: flex;}

.banner-left-wrapper {
    padding-top: 94px;
    width: 60%;}

.banner-heading {
    margin-bottom: 15px;
    color: #ffffff;
    @include adaptive-font(62, 20);
    font-weight: 700;}

.banner-article {
    margin-bottom: 20px;
    color: #DABED9;
    @include adaptive-font(25, 14);
    font-weight: 700;}

.banner-link {
    display: inline-block;
    padding: 10px 50px;
    background: $crimson;
    border-radius: 19px;
    color: $greyText;
    font-weight: 700;
    @include adaptive-font(25, 14);
    border: 3px solid $crimson;
    transition: $hoverTransition;

    &:hover {
        transition: $hoverTransition;
        background: rgba(214, 6, 93, .5);}}

.banner-rectangle {
    z-index: -1;
    position: absolute;
    left: -18px;
    bottom: -18px;
    height: 273px;
    width: 356px;
    border-radius: 10px;
    background: #4F1635;}

.banner-right-wrapper {
    position: absolute;
    top: 15px;
    right: 0;
    width: 50%;

    img[alt="pink"] {
        height: 43vw;
        max-height: 500px;
        position: absolute;
        top: 0;
        right: 25%;
        transform: rotate(-10deg);}

    img[alt="white"] {
        height: 29vw;
        max-height: 420px;
        opacity: 81%;
        position: absolute;
        z-index: -1;
        top: 20px;
        right: 10%;
        transform: rotate(15deg);}}

@media (max-width: 1070px) {
    .banner-left-wrapper {
        padding-top: 65px;}}

@media (max-width: 890px) {
    .banner-right-wrapper {
        display: none;}

    section.banner {
        padding: 0 0 0px 0;}

    .banner-left-wrapper {
        padding: 15px 0;
        top: 0;
        position: relative;
        width: 100%;}

    section.banner {
        height: auto}

    .banner-rectangle {
        display: none;}
    
    .banner-link {
        display: table;
        margin:  0 auto;}
    
    .banner-heading,
    .banner-article {
        text-align: center;
        width: 100%;}}

        

// Services
.gallery, .services, .cards, footer {
    padding: 45px 0;}

.services {
    background: rgba(201, 183, 203, .1);}

.section-heading {
    color: #000;
    @include adaptive-font(45, 25);
    font-weight: 600;
    text-align: center;}

.services-wrapper {
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;}

.services__item {
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 32%;}

.icon-wrapper {
    width: 28%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 15px 10px;

    img {
        height: 4.9vw;
        max-height: 60px;}}

.icon-text-wrapper {
    display: flex;
    align-items: center;}

.service__name {
    padding-left: 3%;
    font-size: 27px;
    @include adaptive-font(27, 13);
    font-weight: 600;
    color: #000;}

.service__text {
    padding-top: 2%;
    color: #0D0707;
    @include adaptive-font(19, 12);
    font-weight: 400;}

@media (max-width: 890px) {
    .gallery, .services, .cards, footer {
        padding: 25px 0;}

    .services-wrapper {
        margin-top: 25px;}

    .services__item:nth-child(1), .services__item:nth-child(2) {
        width: 48%;}

    img[alt="shelf"], img[alt="car"] {
        height: 7.5vw;}

    .services__item:nth-child(3) {
        margin-top: 10px;
        width: 75%;
        margin: 10px auto 0 auto;
    
        .service__name {
            @include adaptive-font(25, 18)}

        .service__text {
            @include adaptive-font(25, 14)}}

    img[alt="worker"] {
        height: 9vw;}}



// Gallery
.gallery {
    background: url(../images/gallery-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;}

.photos-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    margin-top: 45px;}

.photo__item1 {grid-column: span 3; grid-row: span 2}
.photo__item2 {grid-column: span 3;}
.photo__item3 {grid-column: span 2;}
.photo__item4 {grid-column: span 4;}
.photo__item5 {grid-column: span 3;}
.photo__item6 {grid-column: span 3;}
.photo__item7 {grid-column: span 3;}

.photo {
    border-radius: 10px;
    padding: 0 0 55% 0;
    margin: 4px;
    box-sizing: border-box;
    background: #333;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $movingTransition;

    img[alt="gallery img"] {
        z-index: 5;
        position: absolute;
        bottom: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;}
    
    img[alt="zoom icon"] {
        cursor: pointer;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        transition: $movingTransition;
        position: absolute;
        top: 40%;
        left: 40%;}
    
    &:hover img[alt="zoom icon"] {
        z-index: 6;
        visibility: visible;
        opacity: 1;
        transition: $movingTransition;}

    &:hover {
        box-shadow: 2px 2px 10px #fff;
        z-index: 10;
        transform: translateY(-2%);
        padding: 0 0 56% 0;
        margin: 2px;
        transition: $movingTransition;}}

.gallery-link {
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 50px;
    background: $crimson;
    border-radius: 19px;
    color: $greyText;
    font-weight: 700;
    @include adaptive-font(25, 14);
    border: 3px solid $crimson;
    transition: $hoverTransition;

    &:hover {
        transition: $hoverTransition;
        background: rgba(214, 6, 93, .5);}}

@media (max-width: 890px) {
    .photo {
        padding: 0 0 70% 0;

        &:hover {
            padding: 0 0 72% 0;}}

    .photos-wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;}
    
    .photo__item1 {grid-column: span 3; grid-row: span 2}
    .photo__item2 {grid-column: span 3;}
    .photo__item3 {grid-column: span 3;}
    .photo__item4 {grid-column: span 2;}
    .photo__item5 {grid-column: span 4;}
    .photo__item6 {grid-column: span 3;}
    .photo__item7 {grid-column: span 3;}

    .photos-wrapper {
        margin-top: 20px;}}



// Cards
.cards {
    background: rgba(201, 183, 203, .1);}

.heading-underline {
    display: table;
    margin: 0 auto;
    height: 5px;
    width: 18%;
    background: #D95D5D;}

.cards__wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap}

.card__item {
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    background: rgba(141, 139, 168, .21);
    border-radius: 10px;
    width: 24%;}

.new {
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 10;
    background: #D95D5D;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 3px 5px;
    border-radius: 5px;
    display: inline-block;}

.drink__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    padding: 10px 0;
    min-height: 269px;

    img {
        max-height: 269px;
        width: 50%;}}

.drink__name {
    color: #000;
    font-weight: 700;
    padding-top: 3px;
    font-size: 20px;}

.drink__buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;}

.heart__wrapper {
    display: flex;
    align-items: center;
    position: relative;

    img[alt="heart on"] {
        cursor: pointer;
        position: absolute;
        top: -3px;
        left: -1px;
        transform: scale(0);
        height: 40px;
        transition: $hoverTransition;
    
        &.active {
            transform: scale(1);
            transition: $hoverTransition;}}

    img[alt="heart off"] {
        cursor: pointer;
        height: 35px;}}

.drink-detail {
    display: inline-block;
    color: #000;
    font-weight: 500;
    @include adaptive-font(20, 14);
    background-color: #3A92D2;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid #3A92D2;
    transition: $hoverTransition;

    &:hover {
        background: rgba(58, 146, 210, .5);
        transition: $hoverTransition;}}

.drinks-link {
    display: table;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 50px;
    background: $crimson;
    border-radius: 19px;
    color: $greyText;
    font-weight: 700;
    @include adaptive-font(25, 14);
    border: 3px solid $crimson;
    transition: $hoverTransition;

    &:hover {
        transition: $hoverTransition;
        background: rgba(214, 6, 93, .5);}}

@media (max-width: 1100px) {
    .card__item {
        width: 49%;}

    .card__item:nth-child(1), .card__item:nth-child(2) {
        margin-bottom: 10px;}

    .drink__wrapper {

        img {
            max-height: 500px;
            width: 50%;}}

    .drink__name {
        display: none;}}

@media (max-width: 470px) {
    .heart__wrapper img[alt="heart on"] {
        height: 30px;}

    .heart__wrapper img[alt="heart off"] {
        height: 25px;}}

@media (max-width: 420px) {
    .drink-detail {
        font-size: 15px;
        padding: 3.5px 15px;
        border: 1.5px solid #3A92D2;}}

    

// Footer
footer {
    background: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 0 20px 0;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;}}

.footer__right, .footer__left {width: 48%;}

.footer__heading {
    padding: 0 0 7.5px 0;
    color: #fff;
    font-weight: 600;
    @include adaptive-font(25, 19);}

.footer__textM {
    margin-bottom: 10px;
    padding: 0 0 3px 0;
    color: #fff;
    font-weight: 500;
    @include adaptive-font(19, 15);}

.footer__text {
    padding: 0 0 3px 0;
    color: #fff;
    font-weight: 500;
    @include adaptive-font(17, 14);

    img {
        padding-right: 3px;}}

.social__wrapper {
    a, img {display: inline-block;}

    a + a {margin-left: 5px;}}

.footer__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;}

.footer__input, .footer__textarea {
    background: transparent;
    border-radius: 5px;
    border: 2px solid #fff;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
    @include adaptive-font(19, 15);
    font-weight: 500;

    &::placeholder {
        color: #fff}}

.footer__input {width: 49.5%;}

.footer__textarea {width: 100%; margin-top: 5px; min-height: 165px;}

.footer__submit {
    display: inline-block;
    margin-top: 3px;
    padding: 5px 30px;
    background: $crimson;
    border-radius: 10px;
    color: $greyText;
    font-weight: 700;
    @include adaptive-font(19, 15);
    border: 3px solid $crimson;
    transition: $hoverTransition;

    &:hover {
        transition: $hoverTransition;
        background: rgba(214, 6, 93, .5);}}

@media (max-width: 890px) {
    .footer__right, .footer__left {width: 100%;}

    .footer__submit {
        display: table;
        margin: 0 auto;
        margin-top: 3px;
        padding: 5px 35px;
        @include adaptive-font(25, 18);}

    .footer__heading {
        margin: 30px 0 2.5px 0;
        text-align: center;
        @include adaptive-font(30, 23);}

    .social__wrapper {
        display: table;
        margin: 0 auto;
        margin-top: -5px;

        a + a {
            margin-left: 10px;}}

    .footer__text {@include adaptive-font(23, 17)}

    .footer__textM {@include adaptive-font(26, 19); margin-top: -5px;}

    .footer__text, .footer__textM {
        text-align: center;}}

@media (max-width: 550px) {
    .footer__inputs {flex-direction: column;}
    .footer__input {width: 100%; display: inline-block; & + & {margin-top: 5px;}}}


    
// Copyrigth
.copyrigth {
    padding: 20px 0;
    background: $greyPurpleLight;}

.copyrigth__paragraph {
    text-align: center;
    color: #fff;
    font-size: 19px;
    font-weight: 500;}